*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

@font-face{
    src: url('../fonts/OpenSans-Light.ttf');
    font-family: "Open Sans";
}

.clear{
    clear: both;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding:0 2%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 19px;
}

.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;  
}

.form{
    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border-width: 12px;
    border-color: rgba(120, 120, 120, 0.5);
    border-style: solid;
    background-color: white;
    background-clip: padding-box;
    text-align: justify;
}

.form h2 {
    font-weight: normal;
    color: #999999;
    font-size: 20px;
    text-align: center;
}

.input-container{
    margin-top: 20px;
}


.input-container span, .form p{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;

}

.form p{
    margin: 10px 0;
}

.input-container input[type=text]:focus{
    outline: 0;
}

.input-container input[type="text"]{
    margin-top: 8px;
    width: 100%;
    height: 55px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccc;
}

.input-container input[type="submit"]{
    border-bottom: 5px solid #4A5097;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    color: white;
    height: 56px;
    background-color: #363A6D;
    cursor: pointer;
    font-size: 100%;
}

.form input[type="submit"]:hover{
    background-color: #323665;
}

.container-list{
    padding: 30px;
    float: left;
    width: 50%;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
    margin-top: 40px;
}

.container-list ul{
    list-style-position: inside;
    text-align: start;
}

.container-list li{
    text-align: center;
}

.container-list li{
    margin-top: 18px;
    color: white;
}

.container-2 {
    padding: 40px 2%;
    background-color: #DDDDDD;
    text-align: center;
}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 100%;
    max-width: 768px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow{
    position: relative;
    left: 50%;
    margin-left: -32px;
    top: 64px;
    width: 64px;
    height: 64px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
}
.section-1{
    padding: 90px 2%;
}

.section-1 h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section{
    margin-top: 40px;
}

.container-section{
    text-align: center;
}

.container-single{
    float: left;
    width: 33.33%;
    padding: 30px;
}

.container-single p{
    text-align: justify;
    display: inline-block;
    padding: 10px 25px;
}

.container-single img{
    width: 70px;
}

.footer{
    clear: both;
    border-top: 2px solid #888888;
    padding: 20px 0;
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px){
    .header{
        height: 60px;
        width: 100%;
        padding: 19px 0%;
        text-align: center;
    }

    .header img{
        margin: 0px;
    }

    .container-list{
        padding: 30px 0;
        float: none;
        width: 50%;
        max-width: 500px;
        float: left;
        display: inline-block;
        height: auto;
    }

    .container-list li{
        text-align: center;
    }

    .container-banner{
        padding: 30px 2%;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .form{
        max-width: 400px;
        padding: 10px;
        width: 50%;
        float: right;
        top: 0;
    }
}

@media screen and (max-width: 768px){

    .container-2{
        padding-left: 4%;
        padding-right: 4%;
    }

    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 80%;
    }

    .form{
        float: none;
        display: inline-block;
        width: 80%;
        margin-top: 30px;
    }

    .container-single{
        float: none;
        width: 100%;
        max-width: 600px;
        padding: 30px 0;
        display: inline-block;
    }

    .footer{
        padding-left: 4%;
        padding-right: 4%;
    }
}